http://* {
	respond "wellcome to my computer"

	log {
		output stdout
		format console {
			level_format color
		}
	}
}

https://dev-server.dev {
	respond / "Hello, world!"
	reverse_proxy http://localhost:5173

	tls ./certs/dev-server.dev.pem ./certs/dev-server.dev-key.pem

	log {
		output stdout
		format console
	}

	@cors_preflight {
		method OPTIONS
	}
	respond @cors_preflight 204

	header {
		Access-Control-Allow-Origin https://gingim.net
		Access-Control-Allow-Methods GET, POST, OPTIONS
		Access-Control-Allow-Headers Content-Type, User-Agent
		Access-Control-Allow-Private-Network true
		Access-Control-Allow-Credentials true
	}
}
